<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
    <suite name="All Test Suite">
        <test verbose="2" preserve-order="true" name="/Users/sita.christiani/Documents/private-project/selenium-web-project">
            <classes>
                <class name="TestCases.OpenUrlTest" />
            </classes>
        </test>
    </suite>